html, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #FEC401;
  font-size: 16px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
h1 {
  font-family: Abel;
  font-size: 37px;
  font-weight: normal;
}
h2 {
  font-family: Abel;
  font-size: 40px;
  font-weight: normal;
  color: #3F88C5;
  margin-block-start: 60px;
  margin-block-end: 25px;
  text-shadow: 0 1px #23476585;
}
p {
  font-family: Open Sans;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.8rem;
  color: #896900;
  margin: 0;
  padding: 0;
}
.self-portrait {
  width: 100%;
}
/* TEXT STYLE */
.center{
  text-align: center;
}
/* GRID SYSTEM */
.l-wrap {
  margin-right: auto;
  margin-left: auto;
}
.l-row:after {
  display: table;
  clear: both;
  content: '';
}
.l-nav {
  width: 100%;
  margin: 0 !important;
  background-color: #fec400;
  border-bottom: 2px solid #E15554;
}
.l-home {
  width: calc(100% - 100px);
  height: 275px;
  position: relative;
  top: -180px;
  margin-bottom: -176px;
  background-color: #3F88C5;
  color: #fff;
  padding: 0 36px;
  border-radius: 5px;
}
.l-about {
  width: calc(100% - 100px);
  flex-direction: column;
}
.l-contact {
  width: calc(100% - 100px);
  flex-direction: column;
}
.l-footer {
  width: calc(100% - 100px);
  margin-top: 20px;
  margin-bottom: 30px;
}
.grid-item {
  margin-right: 50px;
  margin-left: 50px;
  float: left;
  /* background-color: #ccc; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.column {
  width: calc((100% - 24px * 12) / 12);
  margin-right: 12px;
  margin-left: 12px;
  background: blue;
  opacity: 0.25;
  float: left;
  height: 80px;
}
/* NAVBAR */
.navbar-desktop ul {
  float: right;
  list-style-type: none;
  padding: 0;
}
.navbar-desktop li {
  float: left;
  padding: 0 13px;
}
.navbar-desktop ul li a {
  color: #896900;
  text-decoration: none;
  padding-bottom: 3px;
  font-size: 1rem;
  font-family: Playfair Display;
}
.navbar-desktop ul li a:hover {
  text-decoration: none;
}
.active {
  text-decoration: none;
}
/* PORTFOLIO */
.gallery {
  width: 100%;
  margin-bottom: 15px;
}
/* CONTACT */
input.form-input {
  background-color: rgba(255, 255, 255, 0.62);
  color: #896900;
  border: 0;
  border-radius: 5px;
  border: 1px solid #3F88C5;
  padding: 20px 0;
  padding-left: 25px;
  margin-bottom: 11px;
  width: 100%;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
}

input.form-input {
  height: 70px;
}

textarea.form-input {
  height: 186px;
  background-color: rgba(255, 255, 255, 0.62);
  color: #896900;
  border-radius: 5px;
  border: 1px solid #3F88C5;
  padding: 25px;
  margin-top: 0;
  width: 100%;
  font-size: 1em;
}

label {
  margin-top: 45px;
}

.error, .success {
  color: #d62637;
}

.success {
  padding-top: 15px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.form-input::placeholder, textarea.form-input::placeholder, label {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(137, 105, 0, 0.5);
  opacity: 1;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  /* Firefox */
}

.form-input:-ms-input-placeholder, .form-input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(137, 105, 0, 0.5);
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
}

.form-input::-ms-input-placeholder, .form-input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(137, 105, 0, 0.5);
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
}

.antispam {
  display: none;
}

.btn {
  width: 100%;
  background: #E15554;
  color: #fff;
  font-family: "fjalla";
  height: 60px;
  font-size: 1.2em;
  border-radius: 5px;
  margin-top: 11px;
  font-family: "Open Sans", sans-serif;
  border: 0;
}
/* FOOTER */
.fa-linkedin, .fa-github-square {
    color: #896900;
    font-size: 40px;
    padding-right: 20px;
    text-align: center;
}
@media only screen and (min-width: 768px) {
  .l-home {
  }
}
